.left {
    min-height: auto !important;
    padding-right: 0;
    float: left;
}

.left > p:first-of-type { 
    background: #3f3f3f; 
    font-style: italic;
    margin-bottom: 40px;
}

.tip {
    background: #4f4f4f;
    color: #d00;
    padding: 5px;
    font-size: 26px;
    position: absolute;
    
    -moz-box-shadow: 7px 7px 8px 7px #111;
	-webkit-box-shadow: 7px 7px 8px 7px #111;
	box-shadow: 7px 7px 8px 7px #111;
}

.tip:before {
    position: absolute;
    top: -14px;
    left: 98px;
    display: inline-block;
    border-right: 14px solid transparent;
    border-bottom: 14px solid #4f4f4f;
    border-left: 14px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.tip:after {
    position: absolute;
    top: -12px;
    left: 99px;
    display: inline-block;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #4f4f4f;
    border-left: 12px solid transparent;
    content: '';
}

.tip.left:before {
    border-top: 14px solid transparent;
    border-right: 14px solid #4f4f4f;
    border-bottom: 14px solid transparent;
    border-right-color: rgba(0, 0, 0, 0.2);
    left: -28px;
    top: 8px;
}

.tip.left:after {
    border-top: 12px solid transparent;
    border-right: 12px solid #4f4f4f;
    border-bottom: 12px solid transparent;
    left: -24px;
    top: 10px;
}