table thead {
	background-color: #676767;
	color: #cccccc;
	font-weight: bold;
	cursor: default;
}

table tbody tr:nth-child(2n) td {
	background: #242424;
}

table tbody tr:nth-child(2n+1) td {
	background: #424242;
}

table tr, A:link, A:visited, body {
	color: #FFFFFF
}